# Ignore auto generated stuff
config.codekit
build/.DS_Store

# Ignore Frontend dependencies
build/bower_components
build/.sass-cache/*
build/.sass-cache/

# Ignore PEM key
build.pem

# Ignore .zip builds for beta testing
build.zip